@model IEnumerable<IzdavackaKuca.Models.Member>
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
<p>
    @Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nemamo korisnika u bazi.</p>
}
else
{
    <table id="members" class="table table-bordered table-hover">
        <!--Dodajemo ID u tabelu-->
        <thead>
            <tr>
                <th>Member</th>
                <th>Status</th>
                <th>Discount (%)</th>
                <th>Delete Member</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>@Html.ActionLink(member.Name, "Edit", "Members", new { Id = member.ID }, null)</td>
                    <td>@member.Status.Name</td>
                    <th>@member.Status.DiscountRate</th>
                    <!--Dodajemo dugme koje na osnovu ID brise clana iz baze, i dole na dnu dodajemo skriptu za brisanje-->
                    <td><button data-member-id="@member.ID" class="btn btn-link js-delete">DELETE</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<!--Dodajemo Delete link na svakom posebnom memberu i kada korisnik klikne na taj link koristice se jQuery da pozove API i na taj nacin ce se obrisati korisnik iz baze-->
@section scripts
{
    @*Dodajemo skript tag*@
    <script>
        $(document).ready(function () {
            $(".js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Da li ste sigurni da zelite da obrisete clana iz baze?")) {
                    $.ajax({
                        url: "/api/members/" + $(this).attr("data-member-id"),
                        method: "DELETE",
                        success: function () {
                            alert("Clan je uspesno obrisan!.");
                            button.parents("tr").remove();
                        }
                    })
                };
            });
        });
    </script>
}